.modal(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        a.close(type='button', abm-component='abm-component', ng-click='$hide()') ×
        h4.modal-title CAMBIAR PASSWORD
        .modal-body      
            .row(ng-if='validacion.show')
              .col-xs-12
                .panel.panel-primary
                  .panel-heading
                    h3.panel-title
                      i.icon-notifications
                      | {{validacion.content}}
        form(action='')
          abm-form-group
            label(data-abm-label='') Password Antiguo
            input.form-control(type='password', ng-model='login.passwordAntigua', abm-form-control='', placeholder='Password Antiguo')
          abm-form-group
            label(data-abm-label='') Password Antiguo
            input.form-control(type='password', ng-model='login.passwordNueva', abm-form-control='', placeholder='Password Nuevo')
          abm-form-group
            label(data-abm-label='') Confirmar Password
            input.form-control(type='password', ng-model='login.passwordConfirmar', abm-form-control='', placeholder='Confirmar Password')
      .modal-footer
        button.btn.btn-default(type='button', ng-click='closeModalPassword()') Cancelar
        button.btn.btn-primary(type='button', ng-click='cambiarPassword()') Cambiar Password