.modal(tabindex="-1", role="dialog")
  .modal-dialog.modal-reset
    .modal-content
      .modal-header
        .row
          .col-md-12
            img.img-responsive(src="/assets/images/logo_ceptinel.png")
        a.close(type="button", abm-component , ng-click="$hide()", id='closePasswordRecovery') ×
        hr
        h4.modal-title.title-recovery RECUPERAR CONTRASEÑA
      .modal-body
        .row.col-md-12
          h4 Para recuperar su contraseña ingrese su nombre de usuario y le enviaremos un enlace para reestablecer su contraseña
        .row.col-md-12
          | &nbsp;
        .row
          .col-md-12
            input.input-recovery(id="recovery-password" type='text' ng-model='username' placeholder="Coloque su usuario")
        .row(ng-show='showAlerta == "success"')
          .col-md-12
            | &nbsp;
          .col-md-12
            h5
              | Se ha enviado un correo con un link de recuperación.
        .row(ng-show='showAlerta == "error"')
          .col-md-12
            | &nbsp;
          .col-md-12
            h5
              | Ocurrió un error, revisa si el nombre de usuario ingresado es correcto.
      .modal-footer.recovery-footer
        .text-right
          button.btn.btn-primary.btn-raised.active.recovery-button(ng-click='startReset()' ng-disabled="request") Enviar
          button.btn.btn-primary.btn-raised.active.recovery-button(type='button', ng-click="$hide()", ng-hide='changeProcessed') Cancelar
        //- button.btn.btn-default.btn-raised.active(type='button', ng-click="$hide()", ng-hide='changeProcessed') Recuperar
        br
        .row.col-md-12
          h4(style="color:#888888;") Si no recibe un correo electronico de nosotros escribiendo en unos minutos, revise su carpeta de correo no deseado, ya que aveces terminan alli
          br
          .row.col-md-12.text-center
            span.title-footer Made by Ceptinel 2017 - General Calderon 121, Providencia, Santiago, Chile