.modal.text-left(tabindex="-1" role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        a.close(type="button", abm-component , ng-click="$hide()") ×
        h4.modal-title Atención
      .modal-body
        .row
          .col-md-12.text-center
            h5 Modificar reglas afecta de forma importante el funcionamiento del sistema.
          .col-md-12.text-center
            h4 ¿ Esta seguro que desea modificar la regla ?
          .col-md-12
            | &nbsp;
      .modal-footer
        button.btn.btn-danger.btn-raised(type='button', ng-click='saveRule()') Modificar
        button.btn.btn-default.btn-raised(type='button', ng-click="notSaveRule()") Cancelar
