//- .modal(tabindex='-1', role='dialog')
//-   .modal-dialog
//-     .modal-content
//-       .modal-header
//-         a.close(type='button', abm-component='abm-component', ng-click='$hide()') ×
//-         h4.modal-title CAMBIAR PASSWORD
//-         .modal-body      

//-         form(action='')
//-           abm-form-group
//-             label(data-abm-label='') Password Antiguo
//-             input.form-control(type='password', ng-model='riskUserPassword.passwordAntigua', abm-form-control='', placeholder='Password Antiguo')
//-           abm-form-group
//-             label(data-abm-label='') Password Nuevo
//-             input.form-control(type='password', ng-model='riskUserPassword.passwordNueva', abm-form-control='', placeholder='Password Nuevo')
//-           abm-form-group
//-             label(data-abm-label='') Confirmar Password
//-             input.form-control(type='password', ng-model='riskUserPassword.passwordConfirmar', abm-form-control='', placeholder='Confirmar Password')
//-       .modal-footer
//-         button.btn.btn-default(type='button', ng-click='closeModalPassword()') Cancelar
//-         button.btn.btn-primary(type='button', ng-click='cambiarPassword()') Cambiar Password





.modal(tabindex="-1", role="dialog")
  .modal-dialog.modal-reset
    .modal-content
      .modal-header
        h4.modal-title.title-recovery.text-center CAMBIAR CONTRASEÑA
      .modal-body
        .text-field
          .row
            .col-md-12
              span Contraseña Antigua
          .row
            .col-md-12
              input.input-recovery(id="recovery-password" type='password' ng-model='riskUserPassword.passwordAntigua')
        .text-field
          .row
            .col-md-12
              span Contraseña Nueva
          .row
            .col-md-12
              input.input-recovery(id="recovery-password" type='password' ng-model='riskUserPassword.passwordNueva')
        .text-field
          .row
            .col-md-12
              span Confirmar Contraseña
          .row
            .col-md-12
              input.input-recovery(id="recovery-password" type='password' ng-model='riskUserPassword.passwordConfirmar')
          
        .row(ng-show='validacion.show')
          .col-md-12
            | &nbsp;
          .col-md-12
            h5
              | {{validacion.content}}
      .modal-footer.recovery-footer
        .text-right
          button.btn.btn-primary.btn-raised.active.recovery-button(type='button', ng-click='cambiarPassword()' ng-disabled="request") Enviar
          button.btn.btn-primary.btn-raised.active.recovery-button(type='button', ng-click="closeModalPassword()", ng-hide='changeProcessed') Cancelar
        //- button.btn.btn-default.btn-raised.active(type='button', ng-click="$hide()", ng-hide='changeProcessed') Recuperar