.modal(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        a.close(type='button', abm-component='abm-component', ng-click='$hide()') ×
        h4.modal-title ¿ESTAS SEGURO DE ELIMINAR AL USUARIO DE SISTEMA?
        .modal-body
            .row(ng-if='validacion.show')
              .col-xs-12
                .panel.panel-primary
                  .panel-heading
                    h3.panel-title
                      i.icon-notifications
                      | {{validacion.content}}
                      br
                      | {{mensajeEliminarUsuario}}
      .modal-footer
        button.btn.btn-default(type='button', ng-click='cerrarModalEliminarUsuario()') NO
        button.btn.btn-primary(type='button', ng-click='deleteUser()') SI