
.container-fluid
    .row.recovery-box
        .col-md-12
            | &nbsp;
            h4.modal-title.title-recovery.text-center RESETEAR CONTRASEÑA CEPTINEL
                .row(ng-show="show")
                    .col-xs-12
                    .panel.panel-primary
                        .panel-heading
                        h3.panel-title.error-space
                            i.icon-notifications
                            | {{content}}
            | &nbsp;
            form(action='')
                .text-field
                    .row
                        .col-md-8
                            span Contraseña Nueva
                    .row
                        .col-md-8
                            input.input-recovery(id="recovery-password" type='password' ng-model='recovery.password')
                .text-field
                .row
                    .col-md-8
                        span Confirmar Contraseña
                .row
                    .col-md-8
                        input.input-recovery(id="recovery-password" type='password' ng-model='recovery.password_confirmation')
                | &nbsp;
                | &nbsp;
                .row
                    .col-md-12
                        button.btn.btn-primary.btn-raised.active.recovery-button(type='button', ng-click='cambiarPassword()' ng-disabled="request") Aceptar
                | &nbsp;
                | &nbsp;

